<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>AD_UNIT_ID_FOR_BANNER_TEST</key>
        <string>ca-app-pub-3940256099942544/2934735716</string>
        <key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
        <string>ca-app-pub-3940256099942544/4411468910</string>
        <key>CLIENT_ID</key>
        <string>306885184308-kikgo3kmffec6apbctbqrrguefq8cice.apps.googleusercontent.com</string>
        <key>REVERSED_CLIENT_ID</key>
        <string>com.googleusercontent.apps.306885184308-kikgo3kmffec6apbctbqrrguefq8cice</string>
        <key>API_KEY</key>
        <string>AIzaSyBaSrcL2Pv-Pz_EN4l-ZmSDZPjoR2i-Yec</string>
        <key>GCM_SENDER_ID</key>
        <string>306885184308</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.drsg.tech-matcher</string>
        <key>PROJECT_ID</key>
        <string>tech-matcher</string>
        <key>STORAGE_BUCKET</key>
        <string>tech-matcher.appspot.com</string>
        <key>IS_ADS_ENABLED</key>
        <true/>
        <key>IS_ANALYTICS_ENABLED</key>
        <false/>
        <key>IS_APPINVITE_ENABLED</key>
        <false/>
        <key>IS_GCM_ENABLED</key>
        <true/>
        <key>IS_SIGNIN_ENABLED</key>
        <true/>
        <key>GOOGLE_APP_ID</key>
        <string>1:306885184308:ios:a1d507ba8e1f4e43</string>
        <key>DATABASE_URL</key>
        <string>https://tech-matcher.firebaseio.com</string>
    </dict>
</plist>
